<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<body>

<section class="notification" layout:fragment="notification">
    <p th:if="${notification}" th:text="${notification}" class="notification__text">
        Notifications
    </p>
</section>

<section class="hero" layout:fragment="hero">
    <div class="container">
        <div class="container--pall hero__text">
            <h1>
                Admin panel
            </h1>
        </div>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container container--pall admin">
        <div class="admin__links">
            <a href="#"
               th:href="@{/admin/add-game}">Add game</a>
            <a href="#"
               th:href="@{/admin/add-book}">Add book</a>
        </div>
    </div>
    </div>
</section>

</body>
</html>