<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<section class="hero" layout:fragment="hero">
    <div class="container px-4 py-5 ">
        <h1 class="display-6 fw-bold text-center">
            Add new game
        </h1>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container py-5 px-5">

        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a href="#" th:href="@{/admin}"
                   class="nav-link">Admin</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/admin/add-game}"
                   class="nav-link active">Add game</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/admin/add-genre}"
                   class="nav-link">Add genre</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/admin/add-platform}"
                   class="nav-link">Add platform</a>
            </li>
        </ul>

        <div class="form-admin w-100 my-4 mx-auto border">
            <form th:action="@{/admin/add-game}" th:object="${game}" method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3">
                    <input th:field="*{title}" name="title" id="title" placeholder="Title"
                           class="form-control">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <select th:field="*{platforms}" name="platform" id="platform" placeholder="Platforms" required
                            multiple
                            class="form-select" style="height: 150px">
                        <option th:each="platform: ${platforms}" th:value="${platform.name}"
                                th:text="${platform.name}"></option>
                    </select>
                    <label for="platform">Platforms</label>
                </div>
                <div class="form-floating mb-3">
                    <select th:field="*{genres}" name="genre" id="genre" placeholder="Genres" required multiple
                            class="form-select" style="height: 150px">
                        <option th:each="genre: ${genres}" th:value="${genre.name}"
                                th:text="${genre.name}"></option>
                    </select>
                    <label for="platform">Genres</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{releaseDate}" type="date" name="releaseDate" id="releaseDate"
                           placeholder="Release date"
                           class="form-control">
                    <label for="releaseDate">Release date</label>
                </div>
                <div class="form-floating mb-3">
                <textarea th:field="*{description}" name="description" id="description" placeholder="Description"
                          class="form-control" style="height: 150px"></textarea>
                    <label for="description">Description</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{poster}" type="file" name="poster" id="poster" placeholder="Poster"
                           accept="image/png, image/jpeg" class="form-control">
                    <label for="poster">Poster</label>
                </div>

                <button type="submit" class="w-100 btn btn-primary">Add</button>
            </form>
        </div>

    </div>
</section>

</body>
</html>