<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<section class="hero" layout:fragment="hero">
    <div class="container">
        <div class="container--pall hero__text">
            <h1>
                Add new game
            </h1>
        </div>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container container--pall flex flex-jc-c flex-ai-c">
        <div class="border_box">
            <form action="#" th:action="@{/admin/add-game}" method="post" enctype="multipart/form-data"
                  th:object="${game}"
                  class="admin admin__form">
                <label for="title">Title</label>
                <input type="text" id="title" th:field="*{title}">
                <label for="platform">Platforms</label>
                <select id="platform" th:field="*{platforms}" required multiple>
                    <option value="" hidden>Select platform</option>
                    <option th:each="platform: ${platforms}" th:value="${platform.name}" th:text="${platform.name}"></option>
                </select>
                <label for="genre">Genres</label>
                <select id="genre" th:field="*{genres}" required multiple>
                    <option value="" hidden>Select genres</option>
                    <option th:each="genre: ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
                </select>
                <label for="releaseDate">Release date</label>
                <input type="date" id="releaseDate" th:field="*{releaseDate}">
                <label for="description">Description</label>
                <textarea id="description" rows="10" th:field="*{description}"></textarea>
                <label for="poster">Poster</label>
                <input type="file" id="poster" th:field="*{poster}" accept="image/png, image/jpeg">
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>