<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<section class="hero" layout:fragment="hero">
    <div class="container">
        <div class="container--pall hero__text">
            <h1 th:text="${game.title}">
                Kirby and The Forgotten Land
            </h1>
        </div>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container container--pall">
        <div class="product__page">
            <div class="product__page-img"
                 style="background-image: url('../../static/img/games/kirby_and_the_forgotten_land.jpg')"
                 th:style="${game.poster ne null} ?
                    @{|background-image: url(/img/games/${game.poster})|} :
                    @{|background-image: url(/img/poster-placeholder.png)|}">
            </div>
            <div class="product__page-info">
                <p th:text="${game.description}">
                    Float off on an all-new adventure as the powerful puffball, Kirby. Explore in 3D stages as you
                    discover a mysterious world with abandoned structures from a past civilization—like a shopping
                    mall?! Copy enemies’ abilities like the new Drill and Ranger and use them to attack, explore
                    your surroundings, and save the kidnapped Waddle Dees from the ferocious Beast Pack alongside
                    the mysterious Elfilin. Hope you’re hungry for an unforgettable adventure!
                </p>
                <ul>
                    <li th:text="|Release date: ${game.releaseDate}|">Release date: 2022</li>
                    <li>Platform:
                        <span th:each="platform: ${game.getPlatforms()}" th:text="| ${platform}|">
                            Nintendo Switch
                        </span>
                    </li>
                    <li> Genre:
                        <span th:each="genre: ${game.getGenres()}" th:text="| ${genre}|">Action Adventure</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

</body>

</html>