<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<section class="hero" layout:fragment="hero">
    <div class="container">
        <div class="container--pall hero__text">
            <h1>
                My profile
            </h1>
        </div>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container container--pall flex flex-jc-c admin">
        <div class="admin__links">
            <a href="#"
               th:href="@{/user/{name}(name=${#authentication.name})}">Profile</a>
            <a href="#"
               th:href="@{/user/{name}/games(name=${#authentication.name})}">Games</a>
            <a href="#"
               th:href="@{/user/{name}/books(name=${#authentication.name})}">Books</a>
            <a href="#"
               th:href="@{/user/{name}/options(name=${#authentication.name})}">Options</a>
        </div>
    </div>
</section>

</body>
</html>