<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<section class="hero" layout:fragment="hero">
    <div class="container px-4 py-5 ">
        <h1 class="display-6 fw-bold text-center">
            Profile
        </h1>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container py-5 px-5">

        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a href="#" th:href="@{/users/{name}(name=${#authentication.name})}"
                   class="nav-link active">Profile</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/users/{name}/games(name=${#authentication.name})}"
                   class="nav-link">Games</a>
            </li>
        </ul>

    </div>
</section>

</body>
</html>