.content {
    flex: 1;
    background-color: $white;
}

.product {

    &__content {
        text-align: center;
        font-size: $font-lg;
        font-weight: 600;
        color: $darkBlue;
    }

    &__grid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__page {
        display: grid;
        grid-template-columns: 20% 75%;
        gap: 2.85rem;
        text-align: justify;
    }

    &__item {
        border-radius: 0.3125rem;
        overflow: hidden;
        background-color: $veryLightGray;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
        transition: all 300ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__image {
        height: 18.75rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__page-img {
        height: 15.625rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 0.3125rem;
    }

    &__page-info {

        ul {
            margin-left: 0;
            padding: 0;
            list-style-type: none;
            font-size: $font-sm;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    &__title {
        font-size: $font-med;
        line-height: 1.2;
        color: $darkBlue;
        margin-bottom: 0.5rem;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;

        @include breakpoint-up(medium) {
            padding: 1.875rem 1.5625rem;
        }
    }

}