.form-signin {
    max-width: 20rem;
    padding: 1.5rem;
}

.form-admin {
    max-width: 35rem;
    padding: 1.5rem;
}

// .form {
//     width: 40rem;

//     &>* {
//         width: 100%;
//     }

//     input,
//     select,
//     textarea {
//         padding: 0.5rem;
//         margin-top: 0.25rem;
//         margin-bottom: 0.75rem;
//         color: $darkBlue;
//         font-size: 1rem;
//         border: 1px solid $darkBlue;
//         border-radius: 0.5rem;
//         resize: none;
//         overflow-y: auto;
//     }

//     input[type=file] {
//         border: 0;
//         border-radius: 0;
//         padding: 0;
//     }

//     button {
//         width: 8rem;
//         margin-top: 1.5rem;
//     }
// }