.header {
    background-color: $white;
}

.navbar {
    &-brand {
        font-family: 'Audiowide', cursive;
        font-size: $font-xlg;
        color: $darkBlue;
    }
}

// .nav-item {

    // &:hover {
    //     border-bottom: 2px solid $darkBlue;
    //     transition: opacity 300ms ease-in-out;
    // }

// }

.nav-link {
    font-size: $font-med;
    color: $lightGray;
    transition: color 300ms ease-in-out;

    a:hover {
        color: $darkBlue;

        &::before {
            opacity: 1;
        }
    }
}
