// Colors
$white: #ffffff;
$veryLightGray: #fafafa;
$lightGray: #909090;
$darkBlue: #0b3b55;
$darkGray: #303030;
$black: #000000;


// Font Sizes
$font-xxsm: 0.5rem; // 8px
$font-xsm: 0.625rem; // 10px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.625rem; // 26px
$font-xlg: 1.875rem; // 30px
$font-xxlg: 1.75rem; // 28px