<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>

<section class="notification" layout:fragment="notification">
    <p th:if="${param.logout}" class="notification__text">
        You have successfully logged out
    </p>
    <p th:if="${param.success}" class="notification__text">
        You have successfully registered
    </p>
</section>

<section class="hero" layout:fragment="hero">
    <div class="container">
        <div class="container--pall hero__text">
            <h1>
                Track your geek collection
            </h1>

            <div>
                <ul>
                    <li>Catalog your games and books collection</li>
                    <li>Create wishlists</li>
                    <li>Take part in reading challenge</li>
                    <li>Check most popular games and books among users</li>
                </ul>
            </div>

            <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="button header__cta">Sign in</a>
            <a href="#" th:href="@{/user/{name}(name=${#authentication.name})}" sec:authorize="isAuthenticated()" class="button header__cta">My Profile</a>
        </div>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="product__content container container--pall">
        Latest added games
        <div class="product__grid" th:remove="all-but-first">
            <a class="product__item" th:each="game: ${games}"
               href="#"
               th:href="@{|/game/${game.id}|}">
                <div class="product__image"
                     style="background-image: url('../static/img/games/the_legend_of_zelda_breath_of_the_wild.jpg')"
                     th:style="${game.poster ne null} ?
                        @{|background-image: url(/img/games/${game.poster})|} :
                        @{|background-image: url(/img/poster-placeholder.png)|}"
                ></div>
                <div class="product__title" th:text="${game.title}">
                    The Legend of Zelda Breath of the Wild
                </div>
            </a>
            <a href="#" class="product__item">
                <div class="product__image"
                     style="background-image: url('../static/img/games/kirby_and_the_forgotten_land.jpg')"
                     th:style="'background-image: url(/img/games/Kirby_and_The_Forgotten_Land.jpg)'"
                ></div>
                <div class="product__title">
                    Kirby and The Forgotten Land
                </div>
            </a>
            <a href="#" class="product__item">
                <div class="product__image"
                     style="background-image: url('../static/img/games/super_mario_odyssey.jpg')"
                     th:style="'background-image: url(/img/games/Super_Mario_Odyssey.jpg)'"
                ></div>
                <div class="product__title">
                    Super Mario Odyssey
                </div>
            </a>
            <a href="#" class="product__item">
                <div class="product__image"
                     style="background-image: url('../static/img/games/mario_kart_8_deluxe.jpg')"
                     th:style="'background-image: url(/img/games/Mario_Kart_8_Deluxe.jpg)'"
                ></div>
                <div class="product__title">
                    Mario Kart 8 Deluxe
                </div>
            </a>
        </div>
    </div>
</section>

</body>
</html>