<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>

<section th:if="${message}" class="notification" layout:fragment="notification">
    <p th:text="${message}" class="m-3"></p>
</section>

<section class="hero" layout:fragment="hero">
    <div class="container px-4 py-5 ">
        <h1 class="mb-5 display-6 fw-bold text-center">
            Track your geek collection
        </h1>

        <div class="col-lg-6 mx-auto">
            <ul class="mb-5">
                <li>Catalog your games and books collection</li>
                <li>Create wishlists</li>
                <li>Take part in reading challenge</li>
                <li>Check most popular games and books among users</li>
            </ul>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()"
                   class="btn btn-primary btn-lg px-4">Sign in</a>
                <a href="#" th:href="@{/users/{name}(name=${#authentication.name})}" sec:authorize="isAuthenticated()"
                   class="btn btn-primary btn-lg px-4">My Profile</a>
                <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"
                   class="btn btn-outline-secondary btn-lg px-4">Log out</a>
            </div>
        </div>
    </div>
</section>

<section class="content" layout:fragment="content">
    <div class="container py-5 px-5">
        <h2 class="display-6 text-center mb-4">Latest added games</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div class="col" th:each="game: ${games}">
                <a href="#" th:href="@{|/games/${game.id}|}"
                   class="card shadow-sm h-100">
                    <img src="../static/img/games/the_legend_of_zelda_breath_of_the_wild.jpg"
                         th:src="${game.poster ne null} ?
                         @{|/img/games/${game.poster}|} : @{|/img/poster-placeholder.png|}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${game.title}">The Legend of Zelda Breath of the Wild</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

</body>
</html>