<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">

    <title>GeekCollection</title>
</head>

<body>
    <header class="header">
        <div class="overlay has-fade hide-for-desktop"></div>

        <nav class="container container--pall flex flex-jc-sb flex-ai-c">
            <a href="/" th:href="@{/}" class="header__logo">
                GeekCollection
            </a>

            <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="header__links hide-for-mobile">
                <a href="#" th:href="@{/games}">Games</a>
                <a href="#" th:href="@{/books}">Books</a>
                <a href="#" th:href="@{/about}">About</a>
                <a href="#" th:href="@{/admin}">Admin</a>
            </div>

            <div class="header__login hide-for-mobile">
                <a href="#" class="button header__cta">Sign in</a>
            </div>
        </nav>

        <div class="header__menu has-fade hide-for-desktop">
            <a href="#" th:href="@{/games}">Games</a>
            <a href="#" th:href="@{/books}">Books</a>
            <a href="#" th:href="@{/about}">About</a>
            <a href="#" th:href="@{/admin}">Admin</a>
        </div>
    </header>

    <section class="hero" layout:fragment="hero">
    </section>

    <section class="content" layout:fragment="content">
    </section>

    <footer class="footer">
        <div class="container">
            <a href="/" th:href="@{/}" class="footer__logo">
                GeekCollection
            </a>

            <div class="footer__links">
                <a href="#" th:href="@{/games}">Games</a>
                <a href="#" th:href="@{/books}">Books</a>
                <a href="#" th:href="@{/about}">About</a>
                <a href="#" th:href="@{/admin}">Admin</a>
            </div>

            <div class="footer__cta">
                <a href="#" class="button">Sign in</a>
            </div>

            <div class="footer__copyright">
                &copy; GeekCollection. All Rights Reserved.
            </div>
        </div>
    </footer>

    <script src="/src/main/resources/static/scripts/script.js" th:src="@{/scripts/script.js}"></script>
</body>

</html>